body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

td {
    padding: 10px;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

a {
    color: white;
    text-decoration: none;
}