body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(199, 199, 199);
}

.keys {
    width: 80%;
    display: flex;
}

.key {
    width: 100%;
    display: flex;
    border-radius: 10%;
    flex-direction: column;
    border: 1px solid #333;
    margin: 5px;
    padding: 20px;
    font-size: 40px;
    color: #fff;
    text-align: center;
    background-color: rgba(9, 255, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 255, 85, 0.8); 
}

.playing {
    animation: keyAnimation 0.1s ease;
    box-shadow: 0 0 100px rgba(0, 255, 85, 0.8);
}

@keyframes keyAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
